@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

:root {
  --font-source-sans-pro: 'Source Sans Pro', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
}

body {
  font-family: var(--font-open-sans);
}

.font-source {
  font-family: var(--font-source-sans-pro);
}

.font-open {
  font-family: var(--font-open-sans);
}

.testimonial-swiper{
  padding-bottom: 50px !important
}

.testimonial-swiper .swiper-pagination {
  bottom: 0px !important;
}

.testimonial-swiper .swiper-pagination-bullet {
  background-color: #999;
}

.testimonial-swiper .swiper-pagination-bullet-active {
  background-color: #000;
}